on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: cPanel Deploy Action
      id: deploy
      uses: pinkasey/cpanel-deploy-action@v1.2.1
      with:
        # hostname of cPanel installation, including protocol. for instance: https://hostname.example.com
        hostname: https://merriman.industries
        # cPanel API token, used for authorization. You should store this as a repository-secret.
        cpanel_token: '${{ secrets.CPANEL_TOKEN }}'
        # cPanel username used for API calls. Must be the same username used to create the token. e.g: 'joe'
        cpanel_username: merriman
        # folder in which the repository is installed in the target cPanel account. must already exist. e.g: /home/your_account/repositories/your_repository
        repository_root: '/home/merriman/repositories/merriman.industries '
        # Whether or not to update the repository before triggering the deployment. If true - parameter 'branch' is required. defaults to 'true'.
        branch: main
    - name: echo deploy-duration
      run: echo "Deployment took ${{ steps.deploy.outputs.duration }} milliseconds"
